// Callout
.callout {
  padding: 15rem 0;
  background: #FFFF;
  color: #4b286d !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #4b286d !important;
    display: block;
    max-width: 30rem;
  }
}
